@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
h1 {
  font-family: 'Single Day', cursive;
  font-size: 4rem;
  color: #000;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 2px #d1d1d1;
}
